<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4" style="text-align:center ; margin:0 auto ;">
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/kisspng-gear-machine-metal-industry-steel-metal-gear-5a7bd79188cee9.7179633115180655535604.png"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Interconexiones</h5>
          <p class="card-text"> utilizaremos el routerLink, como herramienta
            de configuracion de interconexiones entre los componentes
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/File-Explorer-fluent-icon.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Components</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/kisspng-truss-structure-bmw-3-series-gran-turismo-cross-br-trusses-5ada6f15b5c319.9285013915242647257445.png"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Manejo de los Componentes</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/sound_mixer_21407.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Router-RouterModule</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
