<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Asunto: {{nombre}} <img src="../../assets/icoAngular.png" alt=""> </h1>
      <p class="lead">SINGLE PAGE APLICATION (SPA´s)</p>
      <hr class="my-4"><img style="width:33% ;" src="../../assets/web_earth_planet_19311.png" alt="">
      <p>Las Herramientas para la ejecucion en los primeros pasos de Angular serán:</p>
      <ul>
           <li> ->Editor de texto</li>
          <li>->Browser (cliente)</li>
          <li>->Node js, via npm</li>
          <li>->Angular Cli</li>
          <li>->app.component.html</li>
      </ul>
      <a class="btn btn-primary btn-lg" href="https://github.com/ANTONIOa7o/PROGRAMACION_MULTIPLATAFORMA/blob/main/Instalacion.md" role="button">Archivo de Instalacion</a>
  </div>
</div>
